img{
    height: 450px;
    width: 600px;
}

.bg{
    background: url("https://thumbs.dreamstime.com/b/people-fill-out-form-via-mobile-application-online-flat-vector-illustration-modern-character-design-landing-page-banner-flyer-141047642.jpg") no-repeat;
}